@import './variables.scss';

// Required
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

.btn,
.btn-link,
.form-control,
.form-select,
.dropdown-item {
  --bs-focus-ring-width: 2px;
  --bs-focus-ring-opacity: 1;
  --bs-focus-ring-color: $success;

  &:focus-visible {
    outline: solid 2px $primary;
    outline-offset: 2px;
    box-shadow: none;
  }
}

.form-control,
.form-select {
  &:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
  }
}

.btn-dark {
  --bs-btn-padding-y: #{$spacer};
  --bs-btn-padding-x: #{$spacer * 2};
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{$gray-900};
  --bs-btn-border-color: #{$gray-800};
  --bs-btn-border-width: 2px;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{$gray-800};
  --bs-btn-hover-border-color: #{$gray-700};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{$gray-800};
  --bs-btn-active-border-color: white;
  --bs-btn-border-radius: #{$border-radius-sm};
  --bs-btn-line-height: 32px;
}

.btn-link {
  --bs-btn-padding-y: #{$spacer};
  --bs-btn-padding-x: #{$spacer * 2};
  --bs-btn-color: #{$gray-300};
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-border-color: transparent;
  --bs-btn-border-width: 2px;
  --bs-btn-border-radius: #{$border-radius-sm};
}

.btn-outline-light {
  --bs-btn-padding-y: #{$spacer};
  --bs-btn-padding-x: #{$spacer * 2};
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #{$gray-default};
  --bs-btn-border-color: #{$gray-default};
  --bs-btn-border-width: 2px;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{$gray-900};
  --bs-btn-hover-border-color: #{$gray-900};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{$gray-900};
  --bs-btn-active-border-color: white;
  --bs-btn-border-radius: #{$border-radius-sm};
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-line-height: 32px;
}

.btn-danger {
  --bs-btn-padding-y: #{$spacer};
  --bs-btn-padding-x: #{$spacer * 2};
  --bs-btn-line-height: 1;
}

.dropdown-menu {
  --bs-dropdown-bg: #{$gray-900};
  --bs-dropdown-border-color: #{$gray-800};
  --bs-dropdown-link-color: white;
  --bs-dropdown-link-hover-color: white;
  --bs-dropdown-link-bg: #{$gray-800};
  --bs-dropdown-border-width: 2px;
  --bs-dropdown-item-padding-x: #{$spacer * 2};
  --bs-dropdown-item-padding-y: #{$spacer};
  --bs-dropdown-border-radius: #{$border-radius-sm};
}
